.navbar {
    position: absolute;
    background-color: white;
    border-bottom: inline;
    padding-bottom: 0;
    width:100%;
    top:0;
}
#mynav {
    padding-top:0 !important;
    position: fixed;
}
.wrapper{
    color:white;
}
#animate{
    background-color:teal;;
    color:white;
    font-size: 25px
}

a {
    left:0px;
    margin-left:20%;
    color:white  

}

.navbar{
    background-color:teal;   
}
#navbarText{
    margin-right:400px;
}

 body{
     /* background-color:lightgray; */
        background-color: #8aadb4;
      
        background-repeat: no-repeat;
        width:100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: 100% top;
        background-attachment: fixed;
        animation: example 15s infinite; 
        animation-delay: 15s;  
        animation-direction: alternate; 
       
        
   }
   @keyframes example {
       from {background-color: #8aadb4}
       to {background-color: #596e72;}
   }
   /* @keyframes example {
       from {background-image: url('seattle.jpg')}
        to {background-image: url('amzn.jpg');}
     } */
     
 .media{
    margin-top:100px;
    /* New changes below  */
    background-color: white;
    margin-left:20.3%;
    width:52%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
 }
 .row{
  /* margin-left:20%; */
 }

 img{
     width: 90px;
     height:110px;
     padding-top:5px; 
 }
 h3{
     color:teal;
 }
 p {
     
     /* float:right; */
     width:100%;
     font-size: auto;
 }
 footer {
    position:fixed;
    background-color: gray;
    width: 100%;
    padding:10px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 10px;
    border-top-style: inset;
    border-top-width: 5px;
    border-top-color:teal;

 }
 
 .portcontainer {
     margin-top:100px;
     background-color: white;
     padding:10px;
     width:52%;
     position: absolute;
     margin-left:20.3%;
     margin-right:10%;
     margin-bottom:15px;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
 }
 .contactinfo{
    margin-top:100px;
     background-color: white;
     padding:10px;
     width:52%;
     position: absolute;
     margin-left:20.3%;
     margin-right:10%;
     margin-bottom:15px;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
     
}
 .projdiv{
    position: relative;
    width: 140px;
    margin-bottom:20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
 }
 .firstWriting{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
}
.secwriting{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
}
.thirdwriting{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
}
 
.forthwriting{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;  
}
.fifthwriting{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
}
    .seventh{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
    }
    .eight{
    position: absolute;
    text-align: center;
    bottom:0;
    left:0;
    color:white;
    background-color: teal;
    width:100%;
    height:40px;
    }
    .nine{
        position: absolute;
        text-align: center;
        bottom:0;
        left:0;
        color:white;
        background-color: teal;
        width:100%;
        height:40px;
        }

.links{
    width:100%;
}
 #firstcol{
     margin-left:15px;
 }
 #seccol{
    margin-left:15px; 
 }

.imagesize{
    width:140px;
    height:140px;
}
.secondrow{
    margin-right:0;
    margin-top:0;
    position:relative;
}
#rowpic{
    /* background:white; */
    /* margin-right:-20px;
    margin-left:-25px; */
    /* margin-top:0%; */
}
#portfoliopage{
    margin-top:0;
}
.contactdetails{
    width:auto;
    background-color: white;
}

.btn-primary{
    /*background-color: none;*/
    background-color: teal;
}
#projectCard{
    background-color: white;
    height:auto;
    margin-top: 100px;
    margin-bottom: 70px;
    width:52%;
    /* margin-left:20.3%;
    margin-right:10%; */
    padding:10px;
}
#about-section{
    text-align: center;
}
#portpictures{
    background-color: white;
    height:auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width:52%;
    /* margin-left:20.3%;
    margin-right:10%; */
    padding:10px;
}
#imgPort{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 200px;
    height:200px;
}
.main-section{
    margin-top:25px;
    margin-bottom: 25px;
}
.projdiv{
    margin-bottom:20px;
}